<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2-js10-dom.html</title>
</head>
<body>
<ul>
    <li>
        <button onclick=" alert(document.title)">1)</button>
    </li>
    <li>
        <button onclick=" alert('Width= ' + innerWidth + ' & Height= ' + innerHeight)">2)</button>
    </li>
    <li>
        <button onclick=" alert(document.URL)">3)</button>
    </li>
    <li>
        <button onclick="alert(document.cookie)">4)</button>
    </li>

    <!-- document.cookie = "name=Cookie;" -->
</ul>
</body>
</html>
