<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2-js13-dom-overlay.html</title>
</head>
<body>


<script>
    "use strict"

    let overlay = document.createElement("div");
    overlay.style.position = 'absolute';
    overlay.style.width = '100%';
    overlay.style.height = '100%';
    overlay.style.backgroundColor = 'rgba(0, 0, 0, 0.25)';


    let ele1 = document.createElement("span");
    // absolute means not relative to any parent attribues and can be a "free element" in the viewport
    ele1.style.position = 'absolute';
    // bottom 0 means that it should aside to the bottom side of the viewport
    ele1.style.bottom = '0';
    // right of 50% means that push it to the left side, away from right by 50% of the width
    ele1.style.right = '50%';
    ele1.style.marginBottom = '25px';
    ele1.innerText = `I'm a center text!`;

    overlay.appendChild(ele1);

    document.getElementsByTagName('body')[0].appendChild(overlay);
</script>

</body>
</html>
