<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>M2 | Aufgabe 5</title>
</head>
<body>

    <p>a) Produkt mit dem höchsten Preis: <span id="maxPreis"  style="font-weight: bold"></span></p>
    <p>b) Produkt mit dem niedrigsten Preis: <span id="minPreis" style="font-weight: bold"></span></p>
    <p>c) Die Gesamtsumme aller Preise der Produkte: <span id="PreisSum" style="font-weight: bold"></span>€</p>
    <p>d) Der Gesamtwert aller Produkte: <span id="GesamtWert" style="font-weight: bold"></span>€</p>
    <p>e) Anzahl der Produkte der jeweiligen Kategorien:
    <ol>
            <li id="anzahl1"></li>
            <li id="anzahl2"></li>
        </ol>
    </p>


<script src="data.js"></script>
</body>
</html>
